## exportPattern("^[[:alpha:]]+")
export(
    ## TeXunits,
    char2num,
    rmrp,
    rmspace,
    strexp,
    toHTML,
    toText,
    trim,
    valign
)
S3method(toText, default)
S3method(print, text)
