## exportPattern("^[[:alpha:]]+")
export(
    HTMLdecode,
    HTMLencode,
    HTMLrm,
    TeXencode,
    TeXunits,
    btable,
    dctable,
    fill_in,
    here,
    insert,
    latexrule,
    rmrp,
    spaces,
    strexp,
    title_case,
    toHTML,
    toText,
    trim,
    valign
)
S3method(print, text)

S3method(toHTML, default)
S3method(toHTML, data.frame)
S3method(toHTML, text)

S3method(toText, character)
S3method(toText, default)
S3method(toText, data.frame)

S3method(toLatex, data.frame)

importFrom("utils",
           "capture.output",
           "read.table",
           "toLatex",
           "type.convert")
